<!-- <div class="card">
  <div class="card-body form-panel">
    <h3>Details</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" formControlName="name" class="form-control" />
          </div>
          <span
            class="text-danger"
            *ngIf="f.name.errors?.required && (f.name.touched || submitted)"
            >Name is required</span
          >
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">DOB</label>
            <input type="date" formControlName="dob" class="form-control" />
          </div>
          <span
            class="text-danger"
            *ngIf="f.dob.errors?.required && (f.dob.touched || submitted)"
            >DOB is required</span
          >
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Gender</label>
            <select
              formControlName="gender"
              placeholder="select"
              class="form-control dropdown-toggle"
            >
              <option value="male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <span
            class="text-danger"
            *ngIf="f.gender.errors?.required && (f.gender.touched || submitted)"
            >Gender is required</span
          >
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Education</label>
            <input
              type="text"
              formControlName="education"
              class="form-control"
            />
          </div>
          <span
            class="text-danger"
            *ngIf="
              f.education.errors?.required && (f.education.touched || submitted)
            "
            >Education is required</span
          >
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Department</label>
            <input
              type="text"
              formControlName="department"
              class="form-control"
            />
          </div>
          <span
            class="text-danger"
            *ngIf="
              f.department.errors?.required &&
              (f.department.touched || submitted)
            "
            >Department is required</span
          >
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Email</label>
            <input type="text" formControlName="email" class="form-control" />
          </div>

          <span
            class="text-danger"
            *ngIf="f.email.invalid && (f.email.touched || submitted)"
          >
            <span class="text-danger" *ngIf="f.email.errors?.required"
              >Email is required</span
            >
            <span class="text-danger" *ngIf="f.email.errors?.pattern"
              >please enter a valid Email
            </span>
          </span>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Phone Number</label>
            <input
              type="number"
              formControlName="mobile"
              class="form-control"
            />
          </div>
          <span
            class="text-danger"
            *ngIf="f.mobile.invalid && (f.mobile.touched || submitted)"
          >
            <span class="text-danger" *ngIf="f.mobile.errors?.required"
              >Phone Number is required</span
            >
            <span
              class="text-danger"
              *ngIf="
                f.mobile.errors?.pattern ||
                f.mobile.errors?.minLength ||
                f.mobile.errors?.maxLength
              "
              >please enter a valid Phone Number</span
            >
          </span>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Address</label>
            <input type="text" formControlName="address" class="form-control" />
          </div>
          <span
            class="text-danger"
            *ngIf="
              f.address.errors?.required && (f.address.touched || submitted)
            "
            >Address is required</span
          >
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Technologies</label>
            <ngx-bootstrap-multiselect [options]="myOptions"
            formControlName="technologies" class="form-control"
            ></ngx-bootstrap-multiselect>

          </div>
          <span
            class="text-danger"
            *ngIf="
              f.technologies.errors?.required &&
              (f.technologies.touched || submitted)
            "
            >Technologies is required</span
          >
        </div>
      </div>

      <div class="float-end mt-4">
        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <button type="button" class="btn btn-secondary me-2" (click)="reset()">
          Reset
        </button>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h3>Details</h3>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-danger" (click)='onDelete()'>Delete Row</button>

        <ag-grid-angular 
        #agGrid
	style="width: 1800px; height: 1000px;" 
	class="ag-theme-balham"
	[rowData]="rowData" 
  rowSelection="multiple"
	[columnDefs]="columnDefs">
</ag-grid-angular>


      </div>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>
